<!-- Modal Structure -->
<div id="modalCasillas" class="modal">
  <form [formGroup]="preguntaCasillas" (ngSubmit)="guardaCasillas()" novalidate>
    <div class="modal-content">
      <h4>Pregunta de casillas</h4>
      <p>Escriba la pregunta, este tipo de preguntas son de respuesta abierta.</p>

      <div class="row">
        <div class="input-field col s12">
           <i class="material-icons prefix"
              [ngClass]="{'red-text text-darken-4': !preguntaCasillas.controls.preguntac.valid && !preguntaCasillas.controls.preguntac.pristine}">mode_edit</i>
          <input id="texto" type="text" class="validate" formControlName="preguntac"
                 [ngClass]="{'invalid': !preguntaCasillas.controls.preguntac.valid && !preguntaCasillas.controls.preguntac.pristine}">
          <label for="texto"
                 [ngClass]="{'red-text text-darken-4': !preguntaCasillas.controls.preguntac.valid && !preguntaCasillas.controls.preguntac.pristine}">
                 Escriba aquí la pregunta
          </label>
        </div>

        <!-- <div class="input-field col s12 m6 l4">
          <i class="material-icons prefix"
             [ngClass]="{'red-text text-darken-4': !preguntaCasillas.controls.respuesta.valid && !preguntaCasillas.controls.respuesta.pristine}">check_box_outline_blank</i>
          <input id="respuesta" type="text" class="validate" formControlName="respuesta"
                 [ngClass]="{'invalid': !preguntaCasillas.controls.respuesta.valid && !preguntaCasillas.controls.respuesta.pristine}">
          <label for="respuesta"
                 [ngClass]="{'red-text text-darken-4': !preguntaCasillas.controls.respuesta.valid && !preguntaCasillas.controls.respuesta.pristine}">
                 Escriba aquí la opción
          </label>
        </div> -->

        <div class=" col s12 m6 l4">
          <div class="input-field" *ngFor="let opcion of opciones">
            <i class="material-icons prefix">check_box_outline_blank</i>
            <input id="op{{opcion.id}}" type="text" class="validate" [(ngModel)]="opcion.texto" [ngModelOptions]="{standalone: true}">
            <label for="op{{opcion.id}}">
                   Escriba aquí la opción #{{opcion.id}}
            </label>
          </div>
        </div>

        <div class="col s12 m6 l4">
          <button type="button" class="waves-effect waves-light btn" [disabled]="!preguntaCasillas.valid || opciones[opciones.length-1].texto === ''"
                  (click)="nuevaOpcion()">
            Nueva Opción
          </button>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="waves-effect waves-red btn-flat"
              (click)="cerrarModal('Texto')">
        Cancelar
      </button>
      <button type="submit" class="blue darken-4 white-text waves-effect light btn-flat"
              [disabled]="!preguntaCasillas.valid || opciones[0].texto === ''">
        Guardar
      </button>
    </div>
  </form>
</div>
