<nav class="blue darken-4">
  <div class="nav-content">
    <div class="container">
      <div class="tabs tabs-transparent tabs-fixed-width">
        <button type="button" class="btn-flat tab white-text waves-effect waves-light"
                (click)="abreModal('Texto')">
          Texto ({{ listado.resumen.texto }})
        </button>
        <button type="button" class="btn-flat tab white-text waves-effect waves-light"
                (click)="abreModal('Casillas')">
          Casillas ({{ listado.resumen.casillas }})
        </button>
        <button type="button" class="btn-flat tab white-text waves-effect waves-light"
                (click)="abreModal('Desplegable')">
          Desplegable ({{ listado.resumen.desplegable }})
        </button>
      </div>
    </div>
  </div>
</nav>
