/* You can add global styles to this file, and also import other style files */
$notificacion: #ccc;

.espacio{
  height: 1em;
}

.icono-grande{
  font-size: 5em;
  color: $notificacion;
}

.notificacion{
  color: $notificacion;
}
